
@{
    ViewBag.Title = "Kontakt";
}

<h4 class="ui horizontal inverted divider header">
    <i class="comments outline icon"></i>
    Kontakt
</h4>
<p></p>

<div class="ui three column grid" id="kontakt_grid">
    <div class="column">
        <h5 class="ui inverted icon header">
            <i class="spy icon kontakt_ikona"></i>
        </h5>
        <div class="kontakt_organizatori_opis">Ukoliko želite znati tko je sve doprinio organizaciji i realizaciji ovog turnira, kliknte na gumb ispod.</div>
        <button class="ui inverted grey button kontakt_button">Organizatori</button>
        <div class="ui two column centered grid" id="kontakt_org">
            <div class="column" id="kontakt_info">
                <label>Organizatori:</label>
            </div>
            <div class="one column centered row" id="kontakt_centered_row">
                <div class="column kontakt_info">
                    <label>Sven Vukelić</label>
                </div>
                <div class="column kontakt_info">
                    <label>Andrija Krmpotić</label>
                </div>

            </div>
        </div>
    </div>
    <div class="column">
        <h5 class="ui inverted icon header">
            <i class="comment icon kontakt_ikona"></i>
        </h5>
        <div class="kontakt_organizatori_opis">Ako želite kontaktirati nekoga od organizatora, kliknte na gumb ispod i odaberite način kontakta.</div>
        <button class="ui button inverted grey" id="kontakt_button">Kontaktirajte nas</button>
        <div>
            <h5 class="ui inverted icon header">
                <i class="mail outline icon"></i>
                e-Mail
            </h5>
            <h5 class="ui inverted icon header">
                <i class="facebook square outline icon"></i>
                    Facebook
            </h5>
        </div>
    </div>
    <div class="column">
        <h5 class="ui inverted icon header">
            <i class="clock icon kontakt_ikona"></i>
        </h5>
        <div class="kontakt_organizatori_opis">Za informacije o turniru, stisnite na gumb ispod.</div>
        <button class="ui button inverted grey" id="kontakt_button">Vrijeme i mjesto turnira</button>
    </div>
</div>

<!--<div style="width: 35%; margin: 0 auto;">
    <div class="row">

            <h5 class="ui inverted icon header">
                <i class="spy icon"></i>
                <div class="content">
                    Organizatori
                </div>
            </h5>

            <div class="ui three column grid">
                <div class="column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="~/Content/images/ggwp.png" />
                        </div>
                        <div class="content">
                            <a class="header">Daniel Louise</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="~/Content/images/ggwp.png" />
                        </div>
                        <div class="content">
                            <a class="header">Helen Troy</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="~/Content/images/ggwp.png" />
                        </div>
                        <div class="content">
                            <a class="header">Elliot Fu</a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>

        <div class="row">
            <div class="ui centered fluid raised inverted card" style="background-color: #000;">
                <div class="content">
                    <div class="header">
                        <h5 class="ui inverted icon header">
                            <i class="mail outline icon"></i>
                            <div class="content">
                                e-Mail
                            </div>
                        </h5>
                    </div>
                    <div class="description" style="color: #fff;">
                        ggwpturnir@gmail.com
                    </div>
                </div>
            </div>
            <br/>
        </div>

        <div class="row">
            <div class="ui two centered fluid cards">
                <div class="card" style="background-color: #000;">
                    <div class="content">
                        <div class="header">
                            <h5 class="ui inverted icon header">
                                <i class="facebook square outline icon"></i>
                                <div class="content">
                                    Facebook
                                </div>
                            </h5>
                        </div>
                        <div class="description" style="color: #fff;">
                            fejsbuk
                        </div>
                    </div>
                </div>
                <div class="card" style="background-color: #000;">
                    <div class="content">
                        <div class="header">
                            <h5 class="ui inverted icon header">
                                <i class="instagram outline icon"></i>
                                <div class="content">
                                    Instagram
                                </div>
                            </h5>
                        </div>
                        <div class="description" style="color: #fff;">
                            instagrem
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            Pošaljite nam poruku:
        </div>
    </div>-->

<script src="~/Scripts/kontakt.js"></script>