
@{
    ViewBag.Title = "Oglasna ploča";
}

<h4 class="ui horizontal inverted divider header">
    <i class="list alternate outline icon"></i>
    Oglasna ploča
</h4>
<p></p>

<div style="width: 50%; margin: 0 auto; text-align: left;">

    <div class="ui celled grid">
        <div class="row">
            <div class="three wide column">
                <p>Igra: </p>
            </div>
            <div class="thirteen wide column">
                <p>LoL</p>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <p>Naziv tima: </p>
            </div>
            <div class="thirteen wide column">
                <p>LoL</p>
            </div>
        </div>
        <div class="row">
            <div class="three wide column">
                <p>Opis: </p>
            </div>
            <div class="thirteen wide column">
                <p>LoL</p>
            </div>
        </div>
        <div class="row">
            <button class="ui inverted violet button">Pošalji poruku</button>
        </div>
    </div>

</div>