
@{
    ViewBag.Title = "Poruke";
}

<h4 class="ui horizontal inverted divider header">
    <i class="open envelope outline icon"></i>
    Poruke
</h4>
<p></p>

<div class="row" style="width: 50%; margin: 0 auto;">
    
    <div class="ui one fluid cards">
        <div class="card">
            <div class="content">
                <img class="left floated mini ui image" src="~/Content/images/ggwp.png">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic blue button">Odgovori</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
                <div class="header">
                    Jenny Hess
                </div>
                <div class="meta">
                    New Member
                </div>
                <div class="description">
                    Jenny wants to add you to the group <b>best friends</b>
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button">Approve</div>
                    <div class="ui basic red button">Decline</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui feed" style="color: white;">
        <div class="event">
            <div class="label">
                <img src="~/Content/images/ggwp.png"/>
            </div>
            <div class="content">
                <div class="summary">
                    <a>Joe Henderson</a> posted on his page
                    <div class="date">
                        3 days ago
                    </div>
                </div>
                <div class="extra text">
                    Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                </div>
            </div>
        </div>
    </div>
</div>