
@{
    ViewBag.Title = "Igre";
}

<h4 class="ui horizontal inverted divider header">
    <i class="game icon"></i>
    Igre
</h4>
<p></p>

<div class="ui form">
    <div class="three fields">
        <div class="field left_side" id="hidden_left">
            <div class="column">
                <div class="infor">
                    <label class="ui big blue label labela">Đuka</label>
                </div>
                <div class="infor">
                    <label class="ui big blue label labela">Bruka</label>
                </div>
                <div class="infor">
                    <label class="ui big blue label labela">05-05-1995</label>
                </div>
                <div class="infor">
                    <label class="ui big blue label labela">Zagreb</label>
                </div>
                <div class="infor">
                    <label class="ui big blue label labela">FOI 2.g. DS</label>
                </div>
            </div>
        </div>
        <div class="field centerImage" id="centerColumn">
            <div class="ui centered card">
                <div class="ui fluid image">
                    <img src="~/Content/images/ggwp.png">
                </div>
                <div class="content">
                    <p class="header">Tim: DemPurtyLips</p>
                </div>
            </div>
        </div>
        <div class="field right_side" id="hidden_right">
            <div class="ui middle aligned three column grid" id="match">
                <div class="left aligned column">Dem Purty Lips</div>
                <div class="center aligned column">
                    <h4 class="ui inverted horizontal divider header">
                        VS
                    </h4>
                </div>
                <div class="right aligned column">Ajkula</div>
            </div>
            <div class="profili_detalji">Detalji &raquo;</div>
        </div>
    </div>
</div>


<div class="ui equal width grid seq" id="seqLabel">
    <div class="row" id="first">
        <div class="column">
            <label class="ui big blue label lab">Vrijeme</label>
        </div>
        <div class="column">
            <label class="ui big blue label lab">Protivnik</label>
        </div>
        <div class="column">
            <label class="ui big blue label lab">Kategorija</label>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label class="ui big teal label lab">15.05.2018.</label>
        </div>
        <div class="column">
            <label class="ui big teal label lab">Ajkula</label>
        </div>
        <div class="column">
            <label class="ui big teal label lab">League of legends</label>
        </div>
    </div>
</div>

<div style="width: 40%; margin: 0 auto;" class="profili_raspored">
    <div>
        <div class="ui middle aligned three column centered grid">
            <div class="row profili_raspored_item">
                <div class="left aligned column">
                    <div class="ui black inverted segment">

                        <h3 class="ui header">
                            Dem purty lips
                        </h3>
                        <div class="profili_raspored_sadrzaj">
                            <div class="ui divider"></div>
                            <div class="ui inverted list">
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Rachel</a>
                                        <div class="description">Top</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Lindsay</a>
                                        <div class="description">Jungle</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Matthew</a>
                                        <div class="description">Mid</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Jenny Hess</a>
                                        <div class="description">Support</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Veronika Ossi</a>
                                        <div class="description">ADC</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center aligned column">
                    <h4 class="ui inverted horizontal divider header">
                        VS
                    </h4>
                </div>
                <div class="left aligned column">
                    <div class="ui black inverted segment">

                        <h3 class="ui header">
                            Ajkula
                        </h3>
                        <div class="profili_raspored_sadrzaj">
                            <div class="ui divider"></div>
                            <div class="ui inverted list">
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Rachel</a>
                                        <div class="description">Top</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Lindsay</a>
                                        <div class="description">Jungle</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Matthew</a>
                                        <div class="description">Mid</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Jenny Hess</a>
                                        <div class="description">Support</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img class="ui avatar image" src="~/Content/images/ggwp.png">
                                    <div class="content">
                                        <a class="header">Veronika Ossi</a>
                                        <div class="description">ADC</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/profili.js"></script>